*~
*.cmi
*.cmo
*.cma
._bcdi/*
._d/*
parser.output
parser.mli
parser.ml
lexer.ml
main
*.exe
*.out
*.o
out.s
*.txt
!test/*_i.txt
*peda-session*.txt
.gdb_history
test/*.s
*.ppm
!*interesting_toron/*.ppm
*.png
min-rt.ml
a
o.png
tes.py
tes.c
t.s
tes.ml
make_quine.py
o_tortesia.s
