# for gedit tmp file
*~

# for OCaml make
*.cmi
*.cmo
*.cma
._bcdi/
._d/
lexer.ml
parser.ml
parser.mli
parser.output
main

# for Windows compile
*.exe

# for linux compile
*.out
*.o

# for gdb & peda
*peda-session*.txt
.gdb_history


# for scripts generatings
o.ppm
o.txt
o.png
o_tortesia.s
out.s

# for test
test/lib
test/*.s
test/*.txt
!test/*_i.txt



# after try_self_hosting

tes.ml
p.ml
x.ml
run.sh
experiments/*
