*~
*.cmi
*.cmo
*.cma
._bcdi/*
._d/*
parser.output
parser.mli
parser.ml
lexer.ml
main
*.exe
*.out
*.o
out.s
*.txt
!test/*.txt
*peda-session*.txt
.gdb_history
test/*.s
*.ppm
min-rt.ml
a
o.png
tes.py
tes.c
t.s

